.text {
    text-align: start;
    font-size: 16px;
}

.last-container {
    width: 100%;
    padding: 0px 100px 20px 100px;
    color: rgba(227, 117, 3, 1);
    font-weight: 400;
}

.text>p {
    margin-top: 23px;
    margin-bottom: 36px;
}

@media only screen and (max-width: 530px) {
    .last-container {
        padding: 0px 20px 20px 20px;
    }
}