body {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

li,
ul {
    padding-left: 25px;
}

.under {
    display: flex;
    align-items: center;
    color: rgba(227, 117, 3, 1);
    width: 100%;
    padding: 0px 100px;
}

body>div.body>div.under>div.under-img>img {
    height: 326px;
    width: 610px;
    object-fit: cover;
    object-position: 40px 34%;
}

body>div.body>div.under>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

@media only screen and (max-width: 1240px) {
    body>div.body>div.under>div.under-img>img {
        height: 226px;
        width: 410px;
    }
}

@media only screen and (max-width: 940px) {
    .under {
        font-size: 12px;
    }
}

@media only screen and (max-width: 380px) {
    .under {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media only screen and (max-width: 980px) {
    .under {
        padding: 0px 20px;
    }
}

@media only screen and (max-width: 720px) {
    body>div.body>div.under>div.under-img>img {
        height: 206px;
        width: 210px;
    }
}

.side-bar {
    color: rgba(227, 117, 3, 1);
    padding-top: 60px;
    height: 100vh;
    width: 40%;
    position: absolute;
    z-index: 555;
    background-color: white;
    bottom: 0;
    top: 0;
    left: 0;
    right: 50;
    display: none;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 550px) {
    .side-bar {
        width: 70%;
    }
}

.linck {
    cursor: pointer;
    opacity: 100;
}

button {
    cursor: pointer;
    opacity: 100;
}

a {
    text-decoration: none;
    text-decoration-color: white;
}